/* Font Weight */
$fw-slim: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-demibold: 600;
$fw-bold: 700;

/* Leading units for top bottom */
$leading--small: 10px;
$leading: 20px;
$leading--medium: 30px;
$leading--large: 40px;

/* Gutter units for right left */
$gutter--small: 10px;
$gutter: 20px;
$gutter--medium: 30px;
$gutter--large: 40px;

/* Font size */
$fs-xsmall: 12px;
$fs-small: 14px;
$fs-regular: 16px;
$fs-regmedium: 20px;
$fs-medium: 24px;
$fs-large: 32px;
